@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    --fonte1: 'Courier New', Courier, monospace;
    --fonte2: "Courier Prime", monospace;
    --fonte3: "EB Garamond", serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    max-width: 100vw;
    font-family: var(--fonte3);
}

header {
    background: linear-gradient(to right, #1f3b2a, #2c4a2e, #3f2d1a, #5e3b2a, #1f3b2a);
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 30px;
    font-family: var(--fonte3);
    font-variant: small-caps;
    font-size: 3em;
}

header > p {
    padding-bottom: 50px;
    font-size: 1.1em;
}

a { 
    color: white;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte2);
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.712);
    color: white;
    box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.692);
    background-size: contain;
    background-attachment: scroll;
}

section.imagem > p {
    width: 400px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.712);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image:url(imagens/nighthawks.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(imagens/apatia.jpg);
    background-position: right center;
}

footer {
    color: white;
    background: linear-gradient(to right, #1f3b2a, #2c4a2e, #3f2d1a, #5e3b2a, #1f3b2a);
    padding: 8px;
    font-size: 18px;
    text-align: center;

}