@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    --fonte1: 'Courier New', Courier, monospace;
    --fonte2: "Courier Prime", monospace;
    --fonte3: "EB Garamond", serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    font-family: var(--fonte3);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-family: var(--fonte3);
    font-variant: small-caps;
    font-size: 5vw;
}

header > p {
    padding-bottom: 50px;
    font-size: 1.5vw;
}

a { 
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte2);
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.712);
    color: white;
}

section.imagem > p {
    width: 400px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.438);
}

footer {
    color: white;
    background-color: black;
    padding: 8px;
    text-align: center;

}